{% extends "base.html" %}
​
{% block title %}Contributor Details{% endblock title %}
​
{% block page_header %}
​
    Dataclearing PR info
{% endblock page_header %}

{% block content %}
    <!-- {% for repo in github_pr_info['github_repositories'] %}
    <br>
    <br>
    <div class="ons-container">
        <div class="ons-grid ons-grid--column@xxs@s">
          <div class="ons-grid__col ons-col-4@m">
            <div class="ons-card" aria-labelledBy="title1" aria-describedBy="text1">
              <h2 class="ons-u-fs-m" id="title1">
                <a href="{{ repo['pr_url']}}">{{repo['repository']}}:{{repo['pr_number']}}</a>
              </h2>
              <h3> {{repo['title']}}</h3>
              <p id="text1">{{ repo['pr_description'] }}</p>
            </div>
            <br><br>
          </div>
        </div>
      </div>
      {% endfor %} -->

      <br>
      <table id="basic-table" class="ons-table">
        <caption class="ons-table__caption">Open Pull Requests for Data Clearing Team</caption>
        <thead class="ons-table__head">
          <tr class="ons-table__row">
            <th scope="col" class="ons-table__header ">
              <span>Repository</span>
            </th>
            <th scope="col" class="ons-table__header ">
              <span>Pull Request No</span>
            </th>
            <th scope="col" class="ons-table__header ">
              <span>PR Title</span>
            </th>
            <th scope="col" class="ons-table__header ">
                <span>Link</span>
              </th>
          </tr>
        </thead>
        <tbody class="ons-table__body">
        {% for repo in github_pr_info['github_repositories'] %}
          <tr class="ons-table__row">
            <td class="ons-table__cell " data-th="Repository">
                {{repo['repository']}}
            </td>
            <td class="ons-table__cell " data-th="Pull Request No">
                {{repo['pr_number']}}
            </td>
            <td class="ons-table__cell " data-th="PR Title">
                {{repo['title']}}
            </td>
            <td class="ons-table__cell " data-th="Link">
                <a href="{{ repo['pr_url']}}">{{repo['repository']}}:{{repo['pr_number']}}</a>
              </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      <form action="/">
        <button type="submit" class="ons-btn ons-btn--loader ons-js-loader ons-js-submit-btn">
          <span class="ons-btn__inner">Refresh
            <svg class="ons-svg-icon ons-u-ml-xs" xmlns="http://www.w3.org/2000/svg" focusable="false" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" fill="currentcolor">
              <rect x="0" y="0" width="100" height="100" fill="none"></rect>
              <rect x='46.5' y='40' width='7' height='20' rx='5' ry='5' transform='rotate(0 50 50) translate(0 -30)'>
                <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0s' repeatCount='indefinite' />
              </rect>
              <rect x='46.5' y='40' width='7' height='20' rx='5' ry='5' transform='rotate(30 50 50) translate(0 -30)'>
                <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.08333333333333333s' repeatCount='indefinite' />
              </rect>
              <rect x='46.5' y='40' width='7' height='20' rx='5' ry='5' transform='rotate(60 50 50) translate(0 -30)'>
                <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.16666666666666666s' repeatCount='indefinite' />
              </rect>
              <rect x='46.5' y='40' width='7' height='20' rx='5' ry='5' transform='rotate(90 50 50) translate(0 -30)'>
                <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.25s' repeatCount='indefinite' />
              </rect>
              <rect x='46.5' y='40' width='7' height='20' rx='5' ry='5' transform='rotate(120 50 50) translate(0 -30)'>
                <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.3333333333333333s' repeatCount='indefinite' />
              </rect>
              <rect x='46.5' y='40' width='7' height='20' rx='5' ry='5' transform='rotate(150 50 50) translate(0 -30)'>
                <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.4166666666666667s' repeatCount='indefinite' />
              </rect>
              <rect x='46.5' y='40' width='7' height='20' rx='5' ry='5' transform='rotate(180 50 50) translate(0 -30)'>
                <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.5s' repeatCount='indefinite' />
              </rect>
              <rect x='46.5' y='40' width='7' height='20' rx='5' ry='5' transform='rotate(210 50 50) translate(0 -30)'>
                <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.5833333333333334s' repeatCount='indefinite' />
              </rect>
              <rect x='46.5' y='40' width='7' height='20' rx='5' ry='5' transform='rotate(240 50 50) translate(0 -30)'>
                <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.6666666666666666s' repeatCount='indefinite' />
              </rect>
              <rect x='46.5' y='40' width='7' height='20' rx='5' ry='5' transform='rotate(270 50 50) translate(0 -30)'>
                <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.75s' repeatCount='indefinite' />
              </rect>
              <rect x='46.5' y='40' width='7' height='20' rx='5' ry='5' transform='rotate(300 50 50) translate(0 -30)'>
                <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.8333333333333334s' repeatCount='indefinite' />
              </rect>
              <rect x='46.5' y='40' width='7' height='20' rx='5' ry='5' transform='rotate(330 50 50) translate(0 -30)'>
                <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.9166666666666666s' repeatCount='indefinite' />
              </rect>
            </svg>
          </span>
        </button>
      </form>

{% endblock content %}